<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zsy.bmw.dao.HouseMapper">

    <resultMap id="BaseResultMap" type="com.zsy.bmw.model.House">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="INTEGER"/>
        <result column="up_time" property="upTime" jdbcType="TIMESTAMP"/>
        <result column="price" property="price" jdbcType="FLOAT"/>
        <result column="room" property="room" jdbcType="INTEGER"/>
        <result column="hall" property="hall" jdbcType="INTEGER"/>
        <result column="position" property="position" jdbcType="INTEGER"/>
        <result column="all_pos" property="allPos" jdbcType="INTEGER"/>
        <result column="agent_id" property="agentId" jdbcType="INTEGER"/>
        <result column="year" property="year" jdbcType="INTEGER"/>
        <result column="com_name" property="comName" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="des" property="des" jdbcType="CLOB"/>
    </resultMap>

    <select id="getHouseByTime" resultMap="BaseResultMap">
        select
        *
        from house0
        order by id desc
    </select>

    <select id="getHouseByArea" resultMap="BaseResultMap">
        select
        *
        from house0
        where area &gt; #{min} and area &lt;= #{max}
        order by id desc
    </select>

    <select id="getHouseByPrice" resultMap="BaseResultMap">
        select
        *
        from house0
        where price &gt; #{min} and price &lt;= #{max}
        order by id desc
    </select>

    <select id="getHouseByRoom" resultMap="BaseResultMap">
        select
        *
        from house0
        where 1=1
        <if test="count != 5 and count != null">
            and room = #{count}
        </if>
        <if test="count == 5">
            and room &gt;= #{count}
        </if>
        order by id desc
    </select>

    <select id="getHeadImg" resultType="java.lang.String">
        select
        img_url
        from ${houseImgTable}
        where house_id = #{id}
        limit 1
    </select>

    <select id="getHouseById" resultMap="BaseResultMap">
        SELECT *
        from  ${houseTable}
        where id = #{id}
        limit 1
    </select>

    <select id="getHouseByCreator" resultMap="BaseResultMap">
        SELECT *
        from  house0
        where agent_id = #{agentId}
        UNION
        SELECT *
        from  house1
        where agent_id = #{agentId}
    </select>

    <select id="getHouseExtendById" resultMap="BaseResultMap">
        SELECT *
        from ${houseExtTable}
        where house_id = #{id}
        limit 1
    </select>


    <select id="getHouseImgs" resultType="java.lang.String">
        SELECT img_url
        from ${houseImgTable}
        where house_id = #{id}
    </select>


    <insert id="insertHouse" parameterType="com.zsy.bmw.model.House" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        ${houseTable} (id, name, price, room, hall,
        position, all_pos, area, agent_id)
        VALUES (#{id},#{name}, #{price}, #{room}, #{hall},
        #{position}, #{allPos}, #{area}, #{agentId})
    </insert>

    <insert id="insertHouseExtend">
        INSERT INTO
        ${houseExtTable}(house_id, year, com_name, address, des)
        VALUES (#{id}, #{year}, #{comName}, #{address}, #{des})
    </insert>

    <insert id="insertHouseImg">
        INSERT INTO
        ${houseImgTable}(house_id, img_url)
        VALUES(#{houseId}, #{imgUrl})
    </insert>

    <insert id="insertAndGetIncId" parameterType="com.zsy.bmw.model.House" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        id_src()
        VALUES()
    </insert>


</mapper>